@use 'themes'

body
    width: 100vw
    height: 100vh
    padding: 0
    margin: 0
    background-color: var(--primary)
    font-family: Helvetica, serif
    font-size: 12px
    color: var(--text-primary)
    user-select: none
    -moz-user-select: none

    &.is-popup
        width: 600px
        height: 600px

        &.size-small
            width: 450px
            height: 600px

            .navigation select
                font-size: 10px
                padding-right: 0
            .control--container
                padding: 0 4px

        &.size-big
            width: 800px
            height: 600px

.logo
    background: url('../../assets/twitch-fox.svg') no-repeat center / 75%

.container
    display: grid
    grid-template-columns: 36px 1fr
    grid-template-rows: 36px 1fr
    grid-template-areas: "navbar navbar" "menu content"
    justify-content: stretch
    height: 100%

.navbar
    grid-area: navbar
    background-color: #4B367C
    display: flex

.menu
    grid-area: menu
    background-color: var(--menu-bg)
    border-right: 1px solid #2C2541
    display: flex
    flex-direction: column
    justify-content: space-between

    &-button
        height: 36px
        width: 36px
        transition: background-color 0.5s ease

        &.tab:hover, &.tab--fake:hover
            background-color: #53505B
            cursor: pointer

        &__games
            background: url(../../assets/images/games.svg?inline) no-repeat center / 100%
        &__streams
            background-image: url(../../assets/images/streams.png)
        &__channels
            background: url(../../assets/images/channels.svg?inline) no-repeat center / 95%
        &__followed-games
            background: url(../../assets/images/followedGames.png) no-repeat center / 100%
        &__followed-streams
            background-image: url(../../assets/images/followedStreams.png)
        &__followed-videos
            background-image: url(../../assets/images/followedVideos.png)
        &__followed-channels
            background-image: url(../../assets/images/followedChannels.png)
        &__settings
            background: url(../../assets/images/settings.svg?inline) no-repeat center / 100%
        &__about
            background: url(../../assets/images/about.svg?inline) no-repeat center / 85%
        &__avatar
            background-repeat: no-repeat
            background-position: center
            background-size: 30px 30px
            cursor: pointer
        &__exit
            background: url(../../assets/images/exit.svg?inline) no-repeat center
            background-size: 30px 30px
            cursor: pointer

.tab--selected
    background-color: #53505B

.content-area
    grid-area: content
    overflow: hidden auto

.timeframe-custom
    position: absolute
    z-index: 10
    width: 300px
    height: 250px

.login-container
    position: absolute
    z-index: 99
    width: 100%
    height: 100%
    background-color: var(--primary)
    display: flex
    flex-direction: column
    padding: 24px
    box-sizing: border-box

.logo-container
    width: 100%
    height: 120px

.icon
    background-repeat: no-repeat
    background-size: contain

    &:hover
        cursor: pointer
        opacity: 1

    &--faded
        opacity: 0.5

    &--inactive
        opacity: 0.5
        cursor: not-allowed !important

    &--small
        height: 18px
        width: 18px
    &--20
        height: 20px
        width: 20px
    &--medium
        height: 30px
        width: 30px
        color: white

    &__arrow-left
        background-image: url(../../assets/images/back.png)
    &__arrow-right
        background-image: url(../../assets/images/forward.png)
    &__search
        background-image: url(../../assets/images/search.png)
    &__time
        background-image: url(../../assets/images/time.svg?inline)
    &__sort
        background-image: url(../../assets/images/sort.svg?inline)
    &__favorites
        background-image: url(../../assets/images/favorites.png)
    &__refresh
        background-image: url(../../assets/images/refresh.png)

        &.thinking
            animation-name: rotate
            animation-duration: 1s
            animation-iteration-count: infinite
            animation-timing-function: linear

    &__exit
        background-image: url(../../assets/images/exit.png)

    &__uptime
        background: url(../../assets/images/uptime.png) no-repeat center
        width: 20px
        height: 20px
    &__stream
        background-image: url(../../assets/images/glitch.png)
    &__popout
        background-image: url(../../assets/images/popout.png)
    &__chat
        background-image: url(../../assets/images/chat.svg?inline)
    &__enlarge
        background-image: url(../../assets/images/enlarge.png)
    &__videos
        background-image: url(../../assets/images/videos.png)
    &__clips
        background-image: url(../../assets/images/clips.png)

    &__follow
        background-image: url(../../assets/images/follow.png)
    &__unfollow
        background-image: url(../../assets/images/follow.png)
        background-color: #14B866 !important

        &:hover
            background-image: url(../../assets/images/unfollow.png)
            background-color: #E20303 !important

    &__favorite
        background-image: url(../../assets/images/favorite.svg?inline)
    &__unfavorite
        background-image: url(../../assets/images/favorite.svg?inline)
        background-color: goldenrod !important

        &:hover
            background-image: url(../../assets/images/unfavorite.svg?inline)
            background-color: #E20303 !important

.navigation
    display: flex
    flex-grow: 1
    margin: 4px 2px 4px 0
    padding: 0 4px
    gap: 4px
    align-items: center
    background-color: var(--search-bg)

    input
        flex-grow: 1
        border: 0 solid
        background-color: var(--search-bg)
        color: var(--text-primary)

    select
        border: 0 solid
        background-color: var(--search-bg)
        color: var(--text-primary)

.control--container
    display: flex
    border-width: 0 1px 0 0
    border-style: solid
    padding: 0 4px

.preview
    position: fixed
    opacity: 0
    visibility: hidden
    z-index: 3
    background: rgba(0, 0, 0, 0.8) no-repeat none 50% / contain
    box-shadow: 0 0 0 3000px rgba(0, 0, 0, 0.8)

    &.enabled
        opacity: 1
        visibility: visible
        width: 100% !important
        height: 90% !important
        top: 5% !important
        left: 0 !important

.twitch-btn
    color: white
    background-color: var(--twitch)
    padding: 8px
    border: none
    text-decoration: none
    font-size: 14px
    text-align: center
    display: flex
    align-items: center
    justify-content: center

    &:hover
        background-color: var(--twitch-dark)
        cursor: pointer

.about-page
    padding: 8px 24px
.about-version
    position: relative
    left: 50%
    top: 95%
.about-btn-group
    display: flex
    gap: 8px
    justify-content: center

    & *
        flex: 1 1 0

.error-container
    position: fixed
    bottom: -101px
    max-height: 100px
    background-color: #f8d7da
    color: #58151c
    width: calc(100% - 36px)
    font-size: 16px
    padding: 4px
    border-top: 1px #f1aeb5 solid
    transition: bottom 0.2s ease-in-out
    display: -webkit-box
    -webkit-line-clamp: 4
    -webkit-box-orient: vertical
    overflow: hidden

    &.show
        bottom: 0

.error-title
    margin: 0
    font-weight: 700
    font-size: 16px
.error-message
    font-size: 14px

@keyframes rotate
    from
        transform: rotate(0deg)
    to
        transform: rotate(360deg)

@import 'cards'
@import 'utils'
