.tooltipped
    position: relative

    &.thinking
        &:before
            display: none

    &:before
        content: attr(data-tooltip)
        position: absolute
        width: 130px
        padding: 5px 2px
        border-radius: 6px
        background-color: black
        color: white
        text-align: center
        font-size: 12px
        line-height: 12px
        //display: none
        visibility: hidden
        z-index: 1

    &:hover::before
        //display: block
        visibility: visible

// Specific positioning
.icon__arrow-left.tooltipped:before,
.icon__arrow-right.tooltipped:before,
.icon__search.tooltipped:before
    top: 28px

.icon__favorites.tooltipped:before,
.icon__refresh.tooltipped:before,
.icon__exit.tooltipped:before
    top: 28px
    left: -60px

#avatar.tooltipped:before
    top: 28px
    left: -90px

.tab.tooltipped:before
    left: 37px
.tab--fake.tooltipped:before
    left: 37px

.menu-button__about.tooltipped:before
    top: -12px
.menu-button__exit.tooltipped:before
    top: 38px
    left: -110px

.uptime.tooltipped:before
    top: 20px
    right: 30px
.avatar.tooltipped:before
    top: 44px
.category.tooltipped:before
    top: 53px
    left: -100px

.icon__stream.tooltipped:before,
.icon__popout.tooltipped:before
    top: 31px
.icon__chat.tooltipped:before,
.icon__enlarge.tooltipped:before,
.icon__favorite.tooltipped:before,
.icon__unfavorite.tooltipped:before,
.tooltip--follow-game.tooltipped:before
    top: 31px
    left: -31px
.tooltip--follow-stream.tooltipped:before
    top: 31px
    left: -75px

.icon__videos.tooltipped:before,
.icon__clips.tooltipped:before
    top: 31px
    left: -104px

