.text-truncate
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

.h-50
    height: 50%

.d-none
    display: none

.visible
    visibility: visible
.invisible
    visibility: hidden
